/************ COMMON RULES ************/

:root {
  --color-footer-bg: #faf1ed;
  --color-black: #000000;
  --color-white: #fff;
  --color-blue: #09b1ba;
  --color-grey-bold: #666666;
  --color-grey-light: #999999;
  --color-grey-border: #e9e9e9cb;
  --color-grey-search: #ffffffd7;
  --color-grey-bg: #ebedee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
button,
input,
textarea,
span {
  font-family: "Font", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: normal;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  color: var(--color-grey-light);
}

h5 {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-grey-bold);
}

h6 {
  font-size: 14px;
  font-weight: normal;
  color: var(--color-grey-light);
}

.user:hover {
  cursor: pointer;
  text-decoration: underline;
}

input,
label {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-grey-bold);
  outline: none;
  border: none;
  background: none;
}

button,
.btn-connection {
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  outline: none;
  border: none;
  background: none;
  border-radius: 6px;
}

header {
  width: 100%;
  -webkit-box-shadow: 0 6px 10px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 6px 10px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 6px 10px -10px rgba(0, 0, 0, 0.7);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.search-engine-container {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.price-filters {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price-gauge {
  margin-left: 40px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.price-gauge input {
  border: 1px solid #777;
  width: 50px;
}

.price-gauge div:first-child {
  margin-right: 20px;
}

.sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-switch {
  /* defined in Header component
  width: 30px;
  height: 12px;
  */
  margin-left: 6px;
}

.logo {
  cursor: pointer;
}

.header-container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  width: 115px;
  height: 30px;
  text-align: center;
}

.search-bar-container {
  position: relative;
  height: 40px;
  padding-left: 40px;
  background-color: var(--color-grey-border);
  width: 100%;
  border-radius: 6px;
}

.search-bar {
  height: 40px;
}

.search-logo {
  width: 22px;
  height: 22px;
  color: var(--color-grey-bold);
  position: absolute;
  left: 10px;
  top: 25%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-connection-container {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-right: 20px;
}

.btn-connection {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--color-blue);
  background-color: var(--color-white);
  color: var(--color-blue);
}

.hero-img-container {
  background-image: url(./assets/hero.jpeg);
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.CTA-container {
  position: absolute;
  top: calc((470px - 260px) / 2);
  left: calc((100% - 1280px) / 2);
  background-color: var(--color-white);
  border-radius: 6px;
  width: 400px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 44px 30px;
}

.CTA-btn {
  font-size: 16px;
  height: 44px;
  width: 200px;
  border-radius: 6px;
}

.btn-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.hero {
  position: relative;
}

.hero-torn {
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 60%;
}

.home-cards {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  width: calc(100% / 5);
  height: 480px;
  /*border: solid 1px rgb(255, 0, 25);*/
}

.card-container:not(:nth-child(5)) {
  padding-right: 10px;
  margin-bottom: 10px;
}

.avatar-container {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-img-s {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
}
.avatar-img-m {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.product-image-container {
  height: 355px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-info-container {
  margin: 10px;
}

.disclaimer-newsletter {
  font-size: 12px;
  font-weight: normal;
  color: var(--color-grey-light);
}

.centered-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: solid 1px rgb(255, 0, 25);*/
}

.form-container {
  width: 256px;
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 30px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-grey-border);
}

.centered-container h2 {
  margin-bottom: 40px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

p span {
  color: var(--color-blue);
}

form button {
  margin: 12px 0;
  font-size: 16px;
  height: 40px;
}

.hyperlink {
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  color: var(--color-blue);
  text-align: center;
}

.hyperlink:hover {
  text-decoration: underline;
}

.offer-bg {
  background-color: var(--color-grey-bg);
  height: 100vh;
}

.offer-container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offer-info-container {
  background-color: var(--color-white);
  width: 400px;
  height: 550px;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.offer-info-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 8px;
  position: relative;
}

.offer-info-top div:nth-child(2) {
  position: absolute;
  left: 170px;
}

.offer-bottom {
  padding-top: 30px;
  border-top: 1px solid var(--color-grey-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offer-bottom :not(:last-child) {
  margin-bottom: 10px;
}

.offer-bottom div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buy-btn {
  height: 40px;
  width: 100%;
  border-radius: 6px;
}

.carousel-img {
  max-width: 450px;
  max-height: 550px;
  object-fit: cover;
  display: block;
}
